:root {
  --hanken-grotesk-weight: normal;
}

.hanken-grotesk {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--hanken-grotesk-weight);
  font-style: normal;
}
