/* src/fonts/fonts.css */
@font-face {
    font-family: 'Neue Machina';
    src: url('./NeueMachina-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('./NeueMachina-Ultrabold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Neue Machina', sans-serif; 
}
